sphinx>=1.4
ipykernel
nbsphinx
numpy
ncempy==1.9.0
Pillow
mrcfile
moviepy
airium
matplotlib
opencv-python
tifffile
notebook
scikit-image
imutils
fpdf2
PyQt5
sphinx
sphinx_rtd_theme
SimpliPyTEM
seaborn
pandas
hyperspy[all]
imagecodecs
